@import url("https://fonts.googleapis.com/css?family=Charm|Poppins:400,500");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes click-effect {
  0% {
    opacity: 1;
    transform: scale(1); }
  80% {
    transform: scale(2); }
  100% {
    opacity: 0;
    transform: scale(1); } }

@keyframes cover-appear {
  0% {
    width: 0%; }
  100% {
    width: 45%; } }

@keyframes icon-appear {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes rev-block {
  0% {
    left: 0;
    width: 0%; }
  50% {
    left: 0;
    width: 100%; }
  100% {
    left: 100%;
    width: 0%; } }

@keyframes rev-img {
  0% {
    left: 0;
    width: 0%; }
  50% {
    left: 0;
    width: 60%; }
  100% {
    left: 70%;
    width: 0%; } }

@keyframes text-appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.7rem 4rem; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; }

.link {
  text-decoration: underline;
  font-size: 1.7rem;
  font-weight: 300;
  color: #fcfeda;
  text-transform: uppercase; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }
  .heading-primary > * {
    display: block; }
  .heading-primary--main {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .heading-primary--sub {
    font-size: 1rem;
    font-weight: 300; }

.btn {
  z-index: 1;
  display: inline-block;
  padding: 3.2rem;
  line-height: 1;
  border-radius: 100%;
  backface-visibility: hidden;
  cursor: pointer;
  position: relative;
  transition: all .2s ease-in-out;
  color: #ffd4d7;
  border: 0.1rem solid currentColor; }
  .btn ion-icon {
    color: inherit;
    color: currentColor;
    font-size: 1.6rem;
    transition: all .2s ease-in; }
  .btn:hover, .btn:focus {
    outline: none;
    background-color: currentColor;
    color: #ffffff;
    opacity: 1; }
    .btn:hover::before, .btn:focus::before {
      background-color: currentColor;
      animation: click-effect .4s ease; }
  .btn:active {
    transform: translateY(2px); }
  .btn:hover ion-icon,
  .btn:focus ion-icon {
    color: #000; }
  .btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 1s; }

.stripes__stripe {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100vh;
  background-color: grey;
  opacity: 0.4; }
  .stripes__stripe--1 {
    left: 25%; }
  .stripes__stripe--2 {
    left: 50%; }
  .stripes__stripe--3 {
    left: 75%; }

.header {
  width: 100%; }
  .header__nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__nav--left, .header__nav--right {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .header__item {
    display: flex;
    align-items: center; }
    .header__item:not(:last-child) {
      margin-right: 6rem; }
    .header__item ion-icon {
      margin-right: 0.3rem; }
    .header__item span {
      font-size: 1.4rem; }
    .header__item--regel {
      font-family: 'Charm', sans-serif;
      font-size: 2rem;
      font-weight: 700; }
  .header__icon {
    font-size: 2rem; }

.contact {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 1.2rem;
  top: 30%;
  left: 1rem; }

.quote {
  position: absolute;
  top: 28%;
  left: 13%;
  font-size: 1.4rem;
  width: 12rem;
  line-height: 1.3; }

.year {
  font-size: 1.6rem;
  position: absolute;
  left: 13%;
  bottom: 7%; }

.menu-btn {
  width: 3rem;
  height: 3rem;
  position: relative; }
  .menu-btn::before, .menu-btn::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0; }
  .menu-btn::before {
    top: 30%; }
  .menu-btn::after {
    top: 70%; }

.e-shop {
  position: absolute;
  top: 28%;
  right: 19%;
  font-size: 1.4rem;
  transform: rotate(90deg); }

.discover-products {
  opacity: 0;
  animation: text-appear 0.0001s forwards;
  animation-delay: 2s;
  position: absolute;
  bottom: 17%;
  left: 53%;
  font-size: 1.4rem;
  color: grey; }

.btn-plus {
  line-height: 1;
  position: absolute;
  bottom: 7%;
  left: 30%;
  font-size: 3rem;
  font-weight: 700;
  font-family: sans-serif; }

.img {
  position: fixed;
  top: 48%;
  left: 58%;
  transform: translate(-50%, -50%); }
  .img__image {
    width: 60%;
    opacity: 0;
    animation: text-appear 0.0001s forwards;
    animation-delay: 1s; }
  .img:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #b68c70;
    animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0.3s; }

.line-1 {
  position: absolute;
  top: 32%;
  z-index: 1;
  left: 27%;
  width: 13%;
  height: 1px;
  background-color: black; }

.social-networks {
  list-style: none;
  position: absolute;
  height: 12rem;
  right: 4%;
  bottom: 5%;
  display: flex;
  font-size: 1.8rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.heading-regel {
  position: absolute;
  top: 43%;
  left: 63%;
  z-index: 1;
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Charm', sans-serif;
  width: 10rem;
  opacity: 0;
  animation: text-appear 0.0001s forwards;
  animation-delay: 1.6s; }

.discover-products-block {
  position: absolute;
  bottom: 16%;
  left: 53%;
  height: 4rem;
  width: 14rem; }
  .discover-products-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1.7s; }

.heading-regel-block {
  position: absolute;
  top: 43%;
  z-index: 1;
  left: 62%;
  width: 13rem;
  height: 21rem; }
  .heading-regel-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 0%;
    height: 100%;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s; }
