$white: #ffffff;
$gray-lightest: #faf9fa;
$gray-lighter: #e6e5e6;
$gray-light: #d2d1d2;
$gray: #bfbec0;
$gray-dark: #989798;
$gray-darker: #706f70;
$gray-darkest: #49484a;
$black: #212122;
$color-black: #000;
$brand-light: #f3d9ff;
$brand: #c263fa;
$brand-dark: #5d3475;

$cta-light: #fcfeda;
$cta: #e6fa63;
$cta-dark: #6d7534;

$info-light: #e0f1ff;
$info: #6ec8fe;
$info-dark: #3a5f77;

$warning-light: #fff0d6;
$warning: #fcc55d;
$warning-dark: #765e31;

$success-light: #dff6db;
$success: #77d773;
$success-dark: #3d663a;

$danger-light: #ffd4d7;
$danger: #fa3d68;
$danger-dark: #772735;

$body-padding: 2.7rem 4rem;
